html *{
  -webkit-font-smoothing: antialiased;
}


.h6, h6 {
  font-size: .75rem !important;
  font-weight: 500;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  line-height: 1.5em;
  text-transform: uppercase;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

h3{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
}

.name h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar {
  border: 0;
  border-radius: 3px;
  padding: .625rem 0;
  margin-bottom: 20px;
  color: #555;
  background-color: #fff!important;
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15) !important;
  z-index: 1000 !important;
  transition: all 150ms ease 0s;
  
}
.container{
  height: 100%;
  align-content: center;
}

.image_outer_container{
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  position: relative;
}

.image_inner_container{
  border-radius: 50%;
  padding: 5px;
 background: #833ab4; 
 background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
 background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid white;
}

.image_outer_container .green_icon{
  background-color: #4cd137;
  position: absolute;
  right: 30px;
  bottom: 10px;
  height: 30px;
  width: 30px;
  border:5px solid white;
  border-radius: 50%;
}

